
*{
    margin: 0px; 
    padding:0;
    box-sizing: border-box;
}

ul, li{
    list-style:none;
}

a{
    text-decoration: none;
}

.header{
    width:100%;
    margin:0 auto;
    position: flex;
    height:93px;
    background:#fff;
    padding: 6px 16px;
}


.logo img{
    margin-right: 20px;
    display: block;
}

.header, .header_con{
    display: flex;
}

.user_nav li, .main_nav li{
    padding-top: 25px;
    float: left;
}

.header_con {
    line-height: 1.4;
    width: 100%;
}

.header_con > ul > li > a{
    color: black;
}

.user_nav{
   margin-left: auto;
}

/*header의 메인 탭부분*/
.header_con > ul > li > a,
.divider{
    font-size: 15px;
    padding: 4px 8px;
    font-weight: bold;
    display: block;
}


body {
    padding-block: var;
  }


  caption {
    text-align: start;
  }

  h2 {
    text-align: center;
    padding: 20px 0;
  }




/***** table section *****/



table.payment_table.thead {
    text-align: center;
  
}
tr.title {
    background-color: #8CA5AF;
    text-align: center;
    font-size: large;
}

section div.user_wallet_section{
   margin-left: 3%;
}

  table.payment_table{
    width: 95%;
    border: 2px solid #444444;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    margin : 20px 10px;
  }

  th, td {
    border: 1px solid #444444;
  }
/***** table section *****/



/***** footer *****/
footer{
    padding: 50px 0 40px 0;
    display: block;
    background-color: #0C151C;
}

.footer_title{
    margin-bottom: 10px;
}

.footer_title a{
    font-size: 14px;
    color: white;
    letter-spacing: -0.05em;
}

.footer_nav a{
    font-size: 13px;
    color: #8CA5AF;
    font-weight: 500;
}
.copyright {
    text-align: right;
    margin-top: 8px;
}

.copyright li{
    color: #B2C0CC;
    font-size: 11px;
    padding-top: 8px;
}