div.study_create {
    padding-top: 50px;
    padding-left: 33%;
    padding-bottom: 50px;
}
div.study_title {
    display: inline-block;
}
div.study_title input {
    display: inline-block;
    width: 465px;
}
input[name=email],
input[name=studySize],
input[name=studyFee],
input[name=studyStartDate],
input[name=studyPeriod],
input[name=studyEndDate] {
    width: 160px;
}
div.study_date span{
    display: inline-block;
    width: 283px;
}
div.study_size_fee {
    display: inline-block;
    width: 800px;
}
div.study_size_fee span {
    display: inline-block;
    width: 316px;
}
div.study_create_main {
    width: 600px;
}
div.study_certification select, input[name=studyDiligenceCutline] {
    width: 95px;
}
div.study_certification {
    display: inline-block;
    width: 800px;
}
div.study_certification span {
    margin-right: 8px;
}
div.study_subject {
    width: 800px;
}
div.study_subject input {
    width: 10px;
    margin-left: 5px;
}
div.study_subject span.subject {
    display: inline-block;
    width: 117px;
    margin-top: 2px;
}
.delete_btn {
    margin-top: 20px;
    width: 200px !important;
    border:1px solid red;
    color:red;
    height:33px;
    width:66.4px;
    border-radius: 5px;
    display:inline-block;
    text-align:center;
    line-height:33px;
    font-size: 14px;
    font-weight: 550;
}
.delete_btn:hover{
    border:1px solid white;
    color:white;
    background-color: red;
}
.modify_btn {
    margin-top: 20px;
    width: 200px !important;
    border:1px solid white;
    color:white;
    background-color: #0078ff;
    height:33px;
    width:66.4px;
    border-radius: 5px;
    display:inline-block;
    text-align:center;
    line-height:33px;
    font-size: 14px;
    font-weight: 550;
}
.modify_btn:hover{
    border:1px solid #0078ff;
    color:#0078ff;
    background-color: white;
}