.homework_detail {
    cursor: pointer;
    color: #0054f4;
}
/***** table section *****/
table.payment_table.thead {
    text-align: center;
  
}
thead tr {
    background-color: #8CA5AF;
    text-align: center;
    font-size: large;
}

table.study_users_list{
width: 90%;
border: 2px solid;
border-collapse: collapse;
text-align: center;
line-height: 1.5;
margin : 20px 10px;
}

th, td {
border: 1px solid;
}
/***** table section *****/