div.study_create {
    padding-top: 50px;
    padding-left: 31%;
    padding-bottom: 50px;
}
div.study_title {
    display: inline-block;
}
div.study_title input {
    display: inline-block;
    width: 525px;
}
input[name=email] {
    width: 525px;
}
input[name=studySize],
input[name=studyFee] {
    width: 200px;
}
input[name=studyPeriod] {
    width: 80px;
    margin-left: 20px;
}
div.study_date {
    width: 700px;
}
input[name=studyStartDate]{
    width: 140px;
}
input[name=studyEndDate] {
    width: 140px;
}
div.study_create_main {
    width: 800px;

}
div.study_certification select, input[name=studyDiligenceCutline] {
    width: 100px;
}
div.study_certification {
    display: inline-block;
    width: 700px;
}
div.study_subject {
    width: 800px;
}
div.study_subject input {
    width: 20px;
    margin-left: 5px;
    margin-right: 6px;
}
div.study_subject span.subject {
    display: inline-block;
    width: 125px;
    margin-top: 2px;
    margin-right: 10px;
}
.delete_btn {
    margin-top: 20px;
    width: 200px !important;
    border:1px solid red;
    color:red;
    height:33px;
    width:66.4px;
    border-radius: 5px;
    display:inline-block;
    text-align:center;
    line-height:33px;
    font-size: 14px;
    font-weight: 550;
}
.delete_btn:hover{
    border:1px solid white;
    color:white;
    background-color: red;
}
.modify_btn {
    margin-top: 20px;
    width: 200px !important;
    border:1px solid white;
    color:white;
    background-color: #0078ff;
    height:33px;
    width:66.4px;
    border-radius: 5px;
    display:inline-block;
    text-align:center;
    line-height:33px;
    font-size: 14px;
    font-weight: 550;
}
.modify_btn:hover{
    border:1px solid #0078ff;
    color:#0078ff;
    background-color: white;
}
div.study_create span{
    display: inline-block;
    width: 83px;
}
div.study_create span.certification {
    display: inline-block;
    width: 88px;
}
div.study_create span.diligence {

    width: 82px;
}
div.study_create span.homework {

    width: 82px;
}
select[name=studyCertification],
input[name=studyDiligenceCutline] {
    margin-right: 19px;
}
div.study_create span.period {
    margin-left: 11px;
    width: 36px;
}
div.study_create span.end_date {
    margin-left: 11px;
    width: 52px;
}
div.study_date span.start_date {
    display: inline-block;
    width: 100px;
}
input[name=studyStartDate],
input[name=studyPeriod] {
    margin-right: 9px;
}
div.study_create span.fee {
    margin-right: 22px;
    width: 63px;
}
input[name=studySize] {
    margin-right: 27px;
}
h2 {
    margin-bottom: 20px;
}
textarea {
border: 1px solid #ccc;
border-radius: 4px;
resize: none;
}
div.study_create div{
    padding-bottom: 8px;
}
div.study_create div.study_size_fee {
    padding-bottom: 25px;
}
span.stack {
    margin-bottom: 10px;
}
span.content {
    margin-top: 25px;
    margin-bottom: 10px;
}