.homework_detail {
    cursor: pointer;
    color: #0054f4;
}
/***** table section *****/
table.payment_table.thead {
    text-align: center;
  
}
#usertd #tr1 {
    background-color: #8CA5AF;
    text-align: center;
    font-size: large;

}

table.study_users_list{
    width: 90%;
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    margin : 20px 10px;
}

#a1 tbody {
    border: 1px solid;
}
#a2 tbody {
    border: 1px solid;   
}
#a3 tbody {
    border: 1px solid;   
}
#a4 tbody {
    border: 1px solid;   
}
#tr1 {
    border: 1px solid;   
}
/***** table section *****/