section {
    text-align: center;
}
section table {
    display: inline-block;
}
section table tr, td {
    text-align: center;
}
section table th {
    width: 170px;
}
input[type='text'], input[type='password'] {
    width: 400px;
}